@import url(style.css);

/* espace jeu pendu desktop */
.espace-jeu {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espace-score {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.espace-score p {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: none;
}

#span_vies {
    font-size: 4rem;
}

.espace-mot {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espace-mot span {
    display: flex;
    justify-content: center;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
}

.espace-alphabet {
    width: 90%;
    margin: 1vh;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.espace-mot span {
    font-size: 3rem;
    margin: 0.5rem;
}

.espace-alphabet span {
    font-size: 2rem;
    width: 3rem;
    padding: 0.2rem;
    margin: 0.2rem;
    height: 3rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #65010B;
    color: #FFF9EC;
    font-weight: bolder;
}

.espace-alphabet span:hover {
    cursor: pointer;
}

.espace-alphabet .lettre-choisi {
    background: #353535;
}