/* reset */
*,
::before,
::after {
    box-sizing: border-box;
    color: #141101;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* structure */
body {
    background-color: #353535;
    background-image: url(../img/tunnel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    margin: auto;
    width: 70%;
    background-color: #FFF9EC;
    height: 100vh;
    backdrop-filter: invert(100%);
    /* background-color: rgba(230, 230, 220, 0.95); */
    background-color: #FFF9EC;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.main {
    flex-direction: row;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #C20114;
    padding: 1rem;
}

/* Styles générales */
h1 {
    font-size: 2.5rem;
    color: #C20114;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    padding: 0.5rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
}

/* Navbar */
nav {
    background: linear-gradient(#C20114, #65010B);
    width: 100%;
    padding: 1vh;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 1vh;
}

nav li {
    list-style-type: none;
}

nav a {
    color: #FFF9EC;
    font-size: 2rem;
    text-decoration: none;
    padding: 1vh;
}

nav a:hover {
    background-color: #FFF9EC;
    color: #141101;
}

/* Tous les endroits "résultat" de tous les jeux, et les boutons "rejouer" */
.resultat {
    display: flex;
    justify-content: center;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultat span {
    font-size: 1.5rem;
}

#rejouer {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #353535;
    color: #FFF9EC;
    text-transform: uppercase;
}

#rejouer:hover {
    cursor: pointer;
    background-color: #FFF9EC;
    color: #141101;
}

/* Index côté droit. Les détails du jeux séléctionné */
.detail-jeu {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
}

.detail-jeu img {
    width: 40%;
    width: 200px;
    height: 200px;
    padding: 1rem;
}

.detail-jeu p {
    padding: 1rem;
    padding-right: 10%;
    padding-left: 10%;
}

#bouton_jouer {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    background-color: #FFF9EC;
    color: #C20114;
    border: 1px solid #141101;
    text-decoration: none;
}

#bouton_jouer:hover {
    cursor: pointer;
    background-color: #FFF9EC;
    color: #141101;
}

#bouton_scores{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    background-color: #FFF9EC;
    color: #C20114;
    border: 1px solid #141101;
    text-decoration: none;
}

#bouton_scores:hover {
    cursor: pointer;
    background-color: #FFF9EC;
    color: #141101;
}

/* Index coté droit, menu des jeux */
.menu-jeu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 55%;
    height: 70vh;
    /* background-color: rgba(75, 143, 140, 0.3); */
    background: #141101;
    padding: 2%;
}

.menu-jeu h3 {
    color: #FFF9EC;
    padding: 1rem;
}

.menu-jeu a {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    text-decoration: none;
}

.menu-jeu img {
    height: 170px;
    width: 170px;
}

.menu-jeu p {
    display: none;
}