/* reset */
*,
::before,
::after {
    box-sizing: border-box;
    color: #141101;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid black; */
}

/* structure */
body {
    background-color: #353535;
    background-image: url(../img/tunnel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(5px); */

}

.wrapper {
    margin: auto;
    width: 80%;
    background-color: #FFF9EC;
    height: 100vh;
    backdrop-filter: invert(100%);
    background-color: rgba(230, 230, 220, 0.95);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    min-height: 70vh;
}

.main {
    flex-direction: row;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #C20114;
    padding: 1rem;
}

/* Styles générales */
h1 {
    font-size: 2.5rem;
    color: #C20114;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    padding: 0.5rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
}

/* Navbar */
nav {
    background: linear-gradient(#C20114, #65010B);
    width: 100%;
    padding: 1vh;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 1vh;
}

nav li {
    list-style-type: none;
}

nav a {
    color: #FFF9EC;
    font-size: 2rem;
    text-decoration: none;
    padding: 1vh;
}

nav a:hover {
    background-color: #FFF9EC;
    color: #141101;
}

.resultat {
    display: flex;
    justify-content: center;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultat span {
    font-size: 1.5rem;
}

#rejouer {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #353535;
    color: #FFF9EC;
}

#rejouer:hover {
    cursor: pointer;
    background-color: #FFF9EC;
    color: #141101;
}

.detail-jeu {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.detail-jeu img {
    width: 40%;
    max-width: 180px;
}

#bouton_jouer {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    background-color: #FFF9EC;
    color: #C20114;
}

#bouton_jouer:hover {
    cursor: pointer;
    background-color: #FFF9EC;
    color: #141101;
}

#bouton_scores{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    background-color: #FFF9EC;
    color: #C20114;
}

#bouton_scores:hover {
    cursor: pointer;
    background-color: #FFF9EC;
    color: #141101;
}

.menu-jeu {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
}

.menu-jeu a {
    display: flex;
    flex-direction: row;
    align-items: center;
}